@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;900&display=swap');

body {
    direction: rtl;
    background-color: #3a83b7;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    background-color: white;
    max-width: 900px;
    min-height: 500px;
    margin: auto;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 0 4px #00000059;
}

.frame>div {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 12px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: #3a83b7;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

button:hover {
    filter: brightness(110%);
}

input, select {
    border: 1px solid;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
}
